extends ../layouts/admin-layout.pug

block title
  title Панель администрирования

block content
    .admin-page
      header.admin-page__header
        .header-admin
          a(href="/").header-admin__go-back Вернуться на сайт
          h2.header-admin__title Панель администрирования
        .tabs
          ul.tabs__list
            li.tabs__item.tabs__item--active(data-tab='about')
              button.tabs__button Страница «Обо мне»
            li.tabs__item(data-tab='blog')
              button.tabs__button Страница «Блог»
            li.tabs__item(data-tab='works')
              button.tabs__button Страница «Мои работы»

      main.admin-page__content
        .tabs-content
          ul.tabs-content__list
            li.tabs-content__item.tabs-content__item--active(data-tab='about')
              .admin-about
                .admin-title.admin-about__title Страница «Обо мне»
                form.admin-about__form
                  ul.admin-about__list 
                    each skill in content.skills
                      each skillsArray, skillName in skill
                        li.admin-about__group
                            h2.admin-about__group-title= skillName
                            ul.admin-about__group-skills
                              each skillTitle in skillsArray
                                li.admin-about__skill
                                    span.admin-about__skill-name= skillTitle
                                    label.admin-about__skill-field
                                      input.admin-about__skill-input
                                      span %
                  button.admin-button Сохранить

            li.tabs-content__item(data-tab='blog')
              .admin-blog
                form.admin-blog__form
                  .admin-title.admin-blog__title Страница «Блог»
                  .admin-blog__subtitle Добавить запись
                  input(type="text" placeholder='Название').admin-input
                  input(type="text" placeholder='Дата').admin-input
                  textarea(type="textarea" placeholder='Содержание').admin-input.admin-blog__textarea
                  button.admin-button Добавить

            li.tabs-content__item(data-tab='works')
              .admin-works
                form.admin-works__form
                  .admin-title.admin-works__title Страница «Мои работы»
                  .admin-works__subtitle Добавить работу
                  input(type="text" placeholder='Название проекта').admin-input
                  input(type="text" placeholder='Технологии').admin-input
                  label.admin-works__label
                    input(type="file").admin-works__file-input
                    span Загрузить картинку
                  button.admin-button Добавить
